@keyframes opacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale {
  0% {
    transform: scale(0.3);
  }

  50% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(1);
  }
}


.cartItems {
  position: absolute;
  backdrop-filter: blur(15px);
  filter: drop-shadow(6px 7px 12px #000);
  height: auto;
  width: 800px;
  padding: 20px;
  background-color: rgba(58, 63, 63, 0.5);
  border-radius: 10px;
  z-index: 2;
  top: 40px;
  right: 0px;
  // animation: opacity 0.25s linear, scale 0.3 ease-out ;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.itemImg {
  height: 170px;
  width: 300px;
  padding: 10px;
}
.img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 5px;
}

.itemTitle {
  display: flex;
  justify-content: left;
}

.cartResult {
  border-top: 1px solid white;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 10px;
}

.cartResultText {
  font-size: 18px;
  font-weight: bold;
  background-color: #00000033;
  padding: 10px;
  border-radius: 5px;
}
.deleteIcon {
  cursor: pointer;
  margin-right: 10px;

  &:hover {
    stroke: rgb(230, 88, 170);
    fill: rgb(230, 88, 170);
  }
}
