.cartBlock {
  position: relative;
  display: flex;
  align-items: center;

}

.cartIcon {
    cursor: pointer;
    margin-right: 10px;
    
    &:hover {
      stroke: rgb(230, 88, 170);
      

    }
}
.totalPrice {
    font-size: 18px;
    font-weight: bold;

}
