.count_items{
    position: absolute;
    display: flex;
    text-align: center;
    font-size: 10px;
    align-items: center;   
    justify-content: center;
    padding: 1px;
    height: 15px;
    width: 15px;
    background-color: rgb(216, 53, 24);
    color: white;
    border-radius: 50%;
    bottom: 18px;
    left: 18px;

}