.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin-bottom: 30px;

}

.wrapper {
  display: flex;
  flex-grow: 1;
}

.storeTitle {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    &:hover{
      color: rgb(230, 88, 170);
    }

}

.cartBtnWrapper{
    justify-content: flex-end;
}
